body {

}
img {
  display: block;
}
.inner {
  position: relative;
}
header {
  /* background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/headbg.jpeg); */
  background-color: #333;
  background-position: center 30%;
  background-size: cover;
  width: 100%;
}
header .inner {
  display: flex;
  justify-content: center;
}
header .inner .logo {

}
header .inner .logo .logo-image {
  width: 250px;
  height: 250px;
}
header .inner .title {

}
header .inner .title .logo-title {
  width: 750px;
  height: 250px;
}


header .main-menu {
  /* background-color: greenyellow; */
  height: 80px;
}
header .main-menu .menu {
  display: flex;
  justify-content: center;
}
header .main-menu .menu .menubox {
  width: 110px;
  height: 80px;
}
header .main-menu .menu .menu-image-left {
  width: 300px;
  height: 80px;
}
header .main-menu .menu .menu-image-center {
  width: 300px;
  height: 80px;
}
header .main-menu .menu .menu-image-right {
  width: 300px;
  height: 80px;
}

.visual {
  background-color: #fff;
  height: 700px;
  display : flex;
  flex-direction : column;
  justify-content : center;
  align-items : center;
}
.visual > form{
  width: 50%;
  background-position: center;
  background-size: cover;
}

.visual > table{
  width: 50%;
  background-position: center;
  background-size: cover;
}

.visual > .card {
  max-height: 100%;
  background-position: center;
  background-size: cover;
  margin-right: 80px;
}

.visual > .mypost {
  max-height: 100%;
  background-position: center;
  background-size: cover;
  border-style: double;
}

.visual > .message-box >.mypost{
  max-height: 100%;
  background-size: cover;
}

footer {

}
footer .underobject {
  color: #fff;
  background-color: #333;
  height: 100px;
}